.PaymentForm {
    margin: 30px auto;
    width: 50%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
    text-align: center;
    margin: 2rem auto;
}

.PaymentDetail {
    text-align: left;
    margin-left: 5rem;
}